
/* Desktop and main body of website */
body {
    margin: 0;
}

/* bkg universal styling */
.bkgwhite {
    background-color: #FBF5F3;
}
.bkgpurple {
    background-color: #200D3A;
}
.bkggreen {
    background-color: #DBFF12;
}

/* font universal styling */
a {
    font-family: 'Solen', sans-serif;
    font-size: 1em;
    font-weight: 400;
}
h1 {
    font-family: 'Solen', sans-serif;
    font-size: 2.5em;
    font-weight: 500;
    line-height: 0.2em;
    letter-spacing: -0.05em;
    text-transform: uppercase;
}
h2 {
    font-family: 'Solen', sans-serif;
    font-size: 0.7em;
    font-weight: 400;
    line-height: 0.2em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
h4 {
    font-family: 'Solen', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    font-style: italic;
    line-height: 0.5em;
}
p {
    font-family: 'Solen', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.95em;
}

/* highlight font stlyling */
.p-highlight {
    background-color: #DB2763;
    color: #FBF5F3;
    font-style: italic;
    font-weight: 600;
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin-left: 0.1em;
    margin-right: 0.1em;
}
.y-highlight {
    background-color: #DBFF12;
    font-style: italic;
    font-weight: 600;
    padding-left: 0.3em;
    padding-right: 0.3em;
}
.o-highlight {
    background-color: #F34213;
    color: #FBF5F3;
    font-style: italic;
    font-weight: 600;
    padding-left: 0.3em;
    padding-right: 0.3em;
}


/* nav bar styling */
nav {
    background-color: #200D3A;
    padding:0.7em;
    justify-content: center;
}

.nav-desktop {
  list-style-type: none;
  display: flex;
  justify-self: center;
  align-items: center;
}

.nav-desktop li a, .nav-links li a {
  display: block;
  color: #FBF5F3;
  padding:14px 100px;
  text-decoration: none;
}

.nav-desktop li a:hover, .nav-links li a:hover {
    color: #12EAEA;
    text-decoration: none;
}

/* primary logo for nav */
.nav-logo-desktop img {
    z-index: 2; 
    width: 100%;
    display: flex;
  justify-self: center;
  align-items: center;
}

.nav-links, .nav-logo, .nav-mobile {
    display:none;
}

.nav-mobile div {
    width: 25px;
    height: 2.5px;
    background-color: #FBF5F3;
    margin: 5px;
}

/* hero */
.hero-home {
    margin-top:-3em;
   z-index: -1;
   position: relative;
}

/* dividers */
.divider {
    aspect-ratio: 960/50;
    background: no-repeat center;
    background-size: cover;
    z-index: 1;
    position: relative;
    margin-top:-10px;
}
.divider2 {
    aspect-ratio: 960/50;
    background: no-repeat center;
    background-size: cover;
    z-index: 1;
    position: relative;
    margin-top: 0px;
    transform: rotate(180deg);
}
.divider.hero {
    aspect-ratio: 960/50;
    background: repeat center;
    background-size: cover;
    position: relative;
    margin-top:-100px;
}
#purplewave {
    background-image: url('/Image/Dividers/wave-haikei-purple.svg');
}
#greenwave {
    background-image: url('/Image/Dividers/wave-haikei-green.svg');
}
#pinkwave {
    background-image: url('/Image/Dividers/wave-haikei-pink.svg');
}
#whitewave {
    background-image: url('/Image/Dividers/wave-haikei-white.svg');
}
#bluewave {
    background-image: url('/Image/Dividers/wave-haikei-blue.svg');
}
#purplescroll {
    background-color: #200D3A;
    color: #FBF5F3;
    overflow: hidden; 
    padding: 2% 0;
    width: auto;
    margin-left: -5%;
    position: relative;
}
#greenscroll {
    background-color: #DBFF12;
    color: #200D3A;
    overflow: hidden; 
    padding: 2% 0;
    width: auto;
    margin-left: -5%;
    z-index: 2;
    position: relative;
}
#pinkscroll {
    background-color: #DB2763;
    color: #FBF5F3;
    overflow: hidden; 
    padding: 2% 0;
    width: auto;
    margin-left: -5%;
    position: relative;
}
#whitescroll {
    background-color: #FBF5F3;
    color: #200D3A;
    overflow: hidden; 
    padding: 2% 0;
    width: auto;
    margin-left: -5%;
    z-index: 2;
    position: relative;
}
#bluescroll {
    background-color: #12EAEA;
    color: #200D3A;
    overflow: hidden; 
    padding: 2% 0;
    width: auto;
    margin-left: -5%;
    position: relative;
}

/* scrolling text */
.content {
    font-family: 'Solen', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 0.2em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding-left: 0.25em;
}

@media only screen and (max-width: 767px) {
    .content {
        font-size: 1rem !important;
        padding-left: 0.25em;
    }
}

.outer {
    overflow: hidden; 
    padding: 2% 0;
    width: auto;
    margin-left: -5%;
    z-index: 2;
    position: relative;
}

.outer div {
    display: inline-block;
}

.loop {
    white-space: nowrap;
    animation: loop-anim 30s linear infinite;
}

@media only screen and (max-width: 767px) {
    .loop {
        animation: loop-anim 6s linear infinite;
    }
}

@keyframes loop-anim {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -50% 
        /* This works because of the div between "outer" and "loop" */
    }
}

/* about section */

.about {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0 0.5em 0;
}
.about-desc {
    padding-bottom: 2.5em;
}

/* about me text */
p.home {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: 400;
}
.firstline {
    padding: 0.5em 15em 0.5em 15em;
}
.secondline{
    padding: 0.5em 12em 0.5em 12em;
}

/* Projects styling */

#horizontal .content {
    width: 50%;
    display: grid;
    flex-shrink: 0;
}

.imgprj {
    width: 25%;
    border-radius: 2em;
}
#horizontal .content h2 {
    color: #FBF5F3;
    font-size: 1.2em;
    letter-spacing: 0;
    font-weight: 500;
}
#horizontal .content p {
    color: #FBF5F3;
    font-size: 0.5em;
    letter-spacing: 0.05em;
    text-transform: none;
}

















/* Tablet Sizing */

@media only screen and (max-width:912px) {
/* font universal styling */
a {
    font-family: 'Solen', sans-serif;
    font-size: 0.9em;
    font-weight: 400;
}
h1 {
    font-family: 'Solen', sans-serif;
    font-size: 2em;
    font-weight: 500;
    line-height: 0.2em;
    letter-spacing: -0.05em;
    text-transform: uppercase;
}
h4 {
    font-family: 'Solen', sans-serif;
    font-size: 1.3em;
    font-weight: 300;
    font-style: italic;
    line-height: 0.5em;
}
p {
    font-family: 'Solen', sans-serif;
    font-size: 0.5em;
    font-weight: 300;
    line-height: 1.95em;
}

/* highlight font stlyling */
.p-highlight {
    background-color: #DB2763;
    color: #FBF5F3;
    font-style: italic;
    font-weight: 600;
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin-left: 0.1em;
    margin-right: 0.1em;
}
.y-highlight {
    background-color: #DBFF12;
    font-style: italic;
    font-weight: 600;
    padding-left: 0.3em;
    padding-right: 0.3em;
}
.o-highlight {
    background-color: #F34213;
    color: #FBF5F3;
    font-style: italic;
    font-weight: 600;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.divider {
    aspect-ratio: 960/50;
    background: no-repeat center;
    background-size: cover;
    z-index: 1;
    position: relative;
    margin-top:-10px;
}
.wave-1 {
    background-image: url('/Image/wave-haikei-purple.svg');
}

/* hero */
.hero-home {
   margin-top:-3em;
   z-index: -1;
   position: relative;
}
.divider1 {
    aspect-ratio: 960/50;
    background: no-repeat center;
    background-size: cover;
    z-index: 1;
    position: relative;
    margin-top:-50px;
}
.wave-2 {
    background-image: url('/Image/wave-haikei-white.svg');
}

/* about section */
.about {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0 0.5em 0;
}

/* about me text */
p.home {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: 400;
}
.firstline {
    padding: 0.5em 5em 0.5em 5em;
}
.secondline{
    padding: 0.5em 1em 0.5em 1em;
}
}





/* Mobile Sizing */

@media only screen and (max-width:480px) {
body {
    overflow-x: hidden;
}
/* font universal styling */
a {
    font-family: 'Solen', sans-serif;
    font-size: 0.9em;
    font-weight: 400;
}
h1 {
    font-family: 'Solen', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 0.2em;
    letter-spacing: -0.05em;
    text-transform: uppercase;
}
h2 {
    font-family: 'Solen', sans-serif;
    font-size: 0.5em;
    font-weight: 300;
    line-height: 0.2em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
h4 {
    font-family: 'Solen', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    font-style: italic;
    line-height: 0.5em;
}
p {
    font-family: 'Solen', sans-serif;
    font-size: 0.3em;
    font-weight: 300;
    line-height: 1.95em;
}

/* highlight font stlyling */
.p-highlight {
    background-color: #DB2763;
    color: #FBF5F3;
    font-style: italic;
    font-weight: 600;
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin-left: 0.1em;
    margin-right: 0.1em;
}
.y-highlight {
    background-color: #DBFF12;
    font-style: italic;
    font-weight: 600;
    padding-left: 0.3em;
    padding-right: 0.3em;
}
.o-highlight {
    background-color: #F34213;
    color: #FBF5F3;
    font-style: italic;
    font-weight: 600;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.nav-desktop, .nav-desktop li {
    display: none;
}

/* Hidden Mobile Nav Bar
.nav-links {
    position: absolute;
    right: 0;
    top: 5.5vh;
    height: 92.5vh;
    background-color: #200D3A;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    padding: 5vh 0 30vh 0;
    transform: translate(100%);
    transition: transform 0.5s ease;
    
}
.nav-links li {
    margin-left: 0px;
}
.nav-mobile {
    display: block;
    cursor: pointer;
}

.nav-active {
    transform: translate(0%);
} */

/* primary logo for nav */
.nav-logo {
    margin-top:1.2em;
    margin-bottom: 1.2em;
    z-index: 1; 
    display: flex;
    position: relative; 
    align-items: center;
    width: 50%;
}
.divider {
    aspect-ratio: 960/50;
    background: no-repeat center;
    background-size: cover;
    z-index: 1;
    position: relative;
    margin-top:-4px;
}
.wave-1 {
    background-image: url('/Image/wave-haikei-purple.svg');
}

/* hero */
.hero-home {
   margin-top:-3em;
   z-index: -1;
   position: relative;
}

.divider1 {
    aspect-ratio: 960/50;
    background: no-repeat center;
    background-size: cover;
    z-index: -1;
    position: relative;
    margin-top:-40px;
}
.wave-2 {
    background-image: url('/Image/wave-haikei-white.svg');
}

/* about section */
.about {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0 0.5em 0;
}

/* about me text */
p.home {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-weight: 400;
}
.firstline {
    padding: 0.5em 1.5em 0.5em 1.5em;
}
.secondline{
    padding: 0.5em 1.5em 0.5em 1.5em;
}
}

